kagglehub
# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torch-geometric
numpy
networkx
pandas
matplotlib
seaborn
opencv-python
neuprint-python
python-dotenv
